.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
  position: relative;
  height: 100px;
  margin-bottom: 20px;
  transform: rotate(-30deg);
  }
}


.App {
  text-align: center;
  font-family: Arial, sans-serif;
}


.App-header {

  padding: 20px;
  color: white;
}




input[name="newTask"] {
  padding: 10px;
  font-size: 16px;
  border: 2px solid blue;
  border-radius: 4px;
  margin-right: 10px;
  outline: none;
  transition: border-color 0.3s ease;
}


button {
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: blue;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

table {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
}

thead {
  background-color: #3f61a0;
  color: white;
}

th, td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  font-size: 18px;
}
td{
  align-items: center;
  
}

tr:hover {
  background-color: #f1f1f1;
}

td button {
  background-color: #4caf50;
  border: none;
  padding: 5px 10px;
  color: white;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.delete-button {
  background-color: #f44336; /* Rouge vif */
  color: white;
  font-size: 18px; 
  border-radius: 50%; 
  cursor: pointer;
  width: 40px; /* Largeur du bouton rond */
  height: 40px; /* Hauteur du bouton rond */
  display: inline-flex;
  justify-content: center;
  align-items: center;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
